@model IEnumerable<Boot_Factory.Models.Sales>


@{
    ViewData["Title"] = "Your orders";
}

<div class="container-fluid p-4" style="background-color: #f1f3f6">

        <h4 class="alert alert-dark">Your Orders</h4>

    <div class="row p-4">
        <div class="col p-2">
            <ul class="list-unstyled">
                @foreach (var sal in Model)
                {
                    <li class="media p-2 border-bottom">
                        <img src="/images/ItemImages/@Html.DisplayFor(modelItem => sal.ItemImage)" class="mr-3 w-25 h-25" alt="@Html.DisplayFor(modelItem => sal.ItemName)">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">@Html.DisplayFor(modelItem => sal.ItemName) <span class="badge badge-secondary">£@Html.DisplayFor(modelItem => sal.ItemCartPrice)</span></h5>
                            <a asp-action="ItemPage" class="btn btn-primary" asp-route-id="@sal.ProductId">Buy Again</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>


