@model Boot_Factory.Models.ContactUs

@{
    ViewData["Title"] = "Success";
}




<div class="container p-4">
    <div class="alert alert-success" role="alert">
        Success
    </div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go Home</a>
</div>
