@model IEnumerable<Boot_Factory.Models.Sales>


@{
    ViewData["Title"] = "Sales";
}

<div class="container-fluid">

    <h4 class="alert alert-dark">Sold Products</h4>


    <table class="table table-striped table-bordered">
        <thead class="bg-info">
            <tr>

                <th>
                    Thumbnail
                </th>

                <th>
                    Product Name
                </th>
                <th>
                    Customer Email
                </th>


                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td width="50">
                    <img src="/images/ItemImages/@Html.DisplayFor(modelItem => item.ItemImage)" class="img-thumbnail" alt="">

                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>

                <td>
                    <a href="mailto:@Html.DisplayFor(modelItem => item.CustomerEmail)">@Html.DisplayFor(modelItem => item.CustomerEmail)</a>
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.ItemCartPrice)
                </td>
            </tr>
            }
        </tbody>
    </table>

    

</div>